@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.1s;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.wrapper {
  background-color: #202123;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #7F56C4;
  border: none;
  color: white;
}

#midContent {
  background-color: #202123;
  display: flex;
  overflow: hidden;
  min-height: 80%;
  min-width: 80%;
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
}

#midContent .left-content {
  position: relative;
  min-width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#midContent .left-content .bg-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url(../statics/img/studyimg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#midContent .left-content .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(32, 33, 35, 0.85);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#midContent .left-content .logo-wrapper {
  z-index: 99;
  color: white;
  align-content: center;
  width: 100%;
}
#midContent .left-content .logo-wrapper .logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
#midContent .left-content .logo-wrapper .logo-txt {
  text-align: center;
  width: 100%;
}

#midContent .right-content {
  min-width: 50%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#midContent .right-content .intro-txt {
  color: white;
}
#midContent .right-content .form {
  transform: scale(0.95);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#midContent .right-content .form a {
  color: #7F56C4;
}
#midContent .right-content .form-inputs {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
#midContent .right-content .input-form {
  position: relative;
}
#midContent .right-content label {
  position: absolute;
  color: #b1b4bb;
  bottom: 10px;
  font-size: 15pt;
  left: 0px;
}
#midContent .right-content input[type=text].form-input, #midContent .right-content input[type=password].form-input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 3px solid #b1b4bb;
  border-bottom-left-radius: 5px;
  color: white;
  padding-bottom: 10px;
  margin-top: 20px;
}
#midContent .right-content input[type=text].form-input:focus, #midContent .right-content input[type=password].form-input:focus {
  border-bottom: 3px solid #7F56C4;
}
#midContent .right-content input[type=text].form-input:focus + label, #midContent .right-content input[type=password].form-input:focus + label {
  color: #7F56C4;
  font-size: 10pt;
  bottom: 40px;
}
#midContent .right-content input[type=text].form-input:not(:-moz-placeholder-shown) + label, #midContent .right-content input[type=password].form-input:not(:-moz-placeholder-shown) + label {
  font-size: 10pt;
  bottom: 40px;
}
#midContent .right-content input[type=text].form-input:not(:-ms-input-placeholder) + label, #midContent .right-content input[type=password].form-input:not(:-ms-input-placeholder) + label {
  font-size: 10pt;
  bottom: 40px;
}
#midContent .right-content input[type=text].form-input:not(:placeholder-shown) + label, #midContent .right-content input[type=text].form-input:focus + label, #midContent .right-content input[type=password].form-input:not(:placeholder-shown) + label, #midContent .right-content input[type=password].form-input:focus + label {
  font-size: 10pt;
  bottom: 40px;
}
#midContent .right-content input[type=text].form-input::-moz-placeholder, #midContent .right-content input[type=password].form-input::-moz-placeholder {
  color: transparent;
}
#midContent .right-content input[type=text].form-input:-ms-input-placeholder, #midContent .right-content input[type=password].form-input:-ms-input-placeholder {
  color: transparent;
}
#midContent .right-content input[type=text].form-input::placeholder, #midContent .right-content input[type=password].form-input::placeholder {
  color: transparent;
}
#midContent .right-content a.forgot-pword {
  margin-left: auto;
}
#midContent .right-content button#login-btn {
  height: 38px;
}
#midContent .right-content .use-social {
  color: white;
  font-size: 13px;
}
#midContent .right-content .socialmedia-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#midContent .right-content .sign-up-txt {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
}

.sign-up .right-content .slider-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sign-up .right-content .slider-wrapper .slide-control {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.sign-up .right-content .slider-wrapper .dot {
  width: 10px;
  height: 10px;
  background-color: #b1b4bb;
  border-radius: 50%;
  margin-right: 10px;
}
.sign-up .right-content .slider-wrapper .dot.active {
  background-color: #7F56C4;
}
.sign-up .right-content button {
  height: 38px;
  width: 100px;
}/*# sourceMappingURL=main.css.map */